@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative&family=Dancing+Script:wght@500&family=Josefin+Sans:ital,wght@0,300;1,700&family=Rubik+Iso&family=Shantell+Sans:wght@300&family=Source+Code+Pro:ital,wght@1,700&family=Special+Elite&family=VT323&display=swap');


body{
  font-family: 'Josefin Sans';
  
}
.header{
  background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

 

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
} 











